@import "./variables";

// -------------------------- Mixins ------------------------------- //

// all buttons should have these styles
@mixin all-buttons {
  margin-bottom: 5px;
  border-radius: 15px;
  font-family: "Fredoka One";
  letter-spacing: 0.7px;
  overflow-y: hidden;
  transition: background-color 0.4s;

  &:active {
    transform: translateY(4px);
  }

  &:hover {
    transition: background-color 0.4s;
  }
}

// pink buttons 
@mixin button-styles {
  color: $btn-text;
  background-color: $btn-background;
  border: solid 3px $btn-border;

  &:hover {
    background-color: $btn-background-hover;
    border: solid 3px $btn-border-hover;
    color: $btn-text-hover;
  }
}

// green buttons 
@mixin green-button-styles {
  color: $green-btn-text;
  background-color: $green-btn-background;
  border: solid 3px $green-btn-border;

  &:hover {
    background-color: $green-btn-background-hover;
    border: solid 3px $green-btn-border-hover;
    color: $green-btn-text-hover;
  }
}


// blue buttons 
@mixin blue-button-styles {
  color: $blue-btn-text;
  background-color: $blue-btn-background;
  border: solid 3px $blue-btn-border;

  &:hover {
    background-color: $blue-btn-background-active;
    color: $blue-btn-hover-text;
    border: solid 3px $blue-btn-hover-border;
  }
}

// delete/red buttons 
@mixin delete-button-styles {
  color: $delete-btn-text;
  background-color: $delete-btn-background;
  border: solid 3px $delete-btn-border;

  &:hover {
    background-color: $delete-btn-hover-background;
    color: $delete-btn-hover-text;
    border: solid 3px $delete-btn-hover-border;
  }
}

// home button
@mixin home-button-styles {
  color: $home-btn-text;
  background-color: $home-btn-background;
  border: solid 4px $home-btn-border;

  &:hover {
    background-color: $home-btn-background-hover;
    color: $home-btn-text-hover;
    border: solid 4px $home-btn-border-hover;
  }
}

// any text with CO2 in it: 

@mixin CO2-style {
  padding-bottom: 2px;
}




