// -------------------------- variables ------------------------------- //

//  main website colors

$primary-green: #50ab74;
$primary-white: white;
$pink-hover: #e08e93; // link hover


// button colors
$btn-border: #B16E72;
$btn-background: #E08E93;
$btn-text: #FFE2E4;

// hover button colors
$btn-border-hover: #ca7e83;
$btn-background-hover: #f1a7ac;
$btn-text-hover: #ffeced;
