$primary-green: #50ab74;
$primary-white: white;
$pink-hover: #e08e93;
$green-hover: #ddf8ba;

// button colors
$btn-border: #B16E72;
$btn-background: #E08E93;
$btn-text: #FFE2E4;

// hover button colors
$btn-border-hover: #ca7e83;
$btn-background-hover: #f1a7ac;
$btn-text-hover: #ffeced;

// search input colors
$blue-btn-border: #1d44a1;
$blue-btn-background: #688de1;
$blue-btn-background-active: #84a4ee;
$blue-btn-text: rgb(219, 230, 255);

// add to list button colors
$green-btn-border: #50ab74;
$green-btn-background: #73d99c;
$green-btn-text: #d3ffe5;

// add to list hover button colors
$green-btn-border-hover: #59be81;
$green-btn-background-hover: #7ce9a7;
$green-btn-text-hover: #edfff5;

// media query breakpoint
$desktop-breakpoint: 720px;
