@import "../../styles/variables";
@import "../../styles/mixins";


// ----------------- styles for social posts ------------ //

.post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid 4px $green-hover;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  background-color: $green-hover;


  h2 {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 600;
   }

   .heart-btn {
     position: relative;
     top: 75px;
     left: 265px;
   }

   span {
    position: relative;
    top: 55px;
   }

   p.post-message {
     margin-top: 0;
     padding-left: 0;
     font-weight: 400;
     position: relative;
     top: -20px;
   }

   .username, .likes {
     opacity: 0.7;
     color: $btn-border-hover;
   }
}


// ------------ media queries ------------ //

@media screen and (max-width: 360px) {

  
}

