@import "../../styles/variables";
@import "../../styles/mixins";

// ---------- style for lists page -------------- //

.search-and-new-list {
  // border: solid 3px cornflowerblue;
  padding: 0 0 15px 0;
  display: flex;
  flex-direction: column;
}

.save-btn {
  @include button-styles;
  width: 65px;
  height: 40px;
  margin-top: 30px;
  font-size: 18px;
}

.btn-replace {
  @include blue-button-styles;
  border: solid 2.5px $blue-btn-border;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 600;
  height: 30px;
}


.new-list-wrapper {
  // border: solid 3px red;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 15px;
  background: rgb(221, 248, 186, 0.55);
  border-radius: 10px;

  p {
    text-align: left;
    width: 90%;
    font-size: 18px;
    font-weight: 400;
  }
}

.item-in-list {
  background: rgb(221, 248, 186);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 25px;

}

p.co2-saved-text {
  padding-left: 0;
  font-weight: 600;

  span.co2-desc {
    color: $btn-border;
  }
}

.all-lists-wrapper {
  border-radius: 10px;
  background-color: $btn-text-hover;
  margin: 30px 0px 35px 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 15px;
  border-radius: 10px;
}


// ---------- media queries ---------- //

@media screen and (min-width: 400px){

  .all-lists-wrapper, .new-list-wrapper {
    margin-left: 6%;
    margin-right: 6%;
  }

}

@media screen and (min-width: 700px) {


  .search-and-new-list {
    display: flex;
    flex-direction: row;
  }

  .search-section {
    flex-basis: 50vw;
    margin-right: 30px;
    flex-basis: 50vw;
  }

  .new-list-wrapper {
    flex-basis: 50vw;
  }

  .search-container {
    // border: solid 3px pink;
    max-width: 50vw;
    // possible bug below 
    width: fit-content; 
    width: 95%;
    padding: 0;
  }

  .item-in-list {
    position: center;
  }

}
