@import "../../styles/variables";
@import "../../styles/mixins";

// ---------- style for lists page -------------- //

* {
  box-sizing: border-box;
}

.search-and-new-list {
  // border: solid 3px cornflowerblue;
  padding: 0 0 15px 0;
  display: flex;
  flex-direction: column;
}

.save-btn {
  @include button-styles;
  width: 65px;
  height: 40px;
  margin-top: 30px;
  font-size: 18px;
}

.btn-replace {
  @include blue-button-styles;
  border: solid 2.5px $blue-btn-border;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 600;
  height: 30px;
}


.new-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 15px;
  background: rgb(221, 248, 186, 0.55);
  border-radius: 10px;

  p {
    text-align: left;
    width: 90%;
    font-size: 18px;
    font-weight: 400;
  }
}

.item-in-list {
  background: rgb(221, 248, 186);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 25px;

}

p.co2-saved-text {
  padding-left: 0;
  font-weight: 600;

  span.co2-desc {
    color: $btn-border;
  }
}

.all-lists-wrapper {
  border-radius: 10px;
  background-color: $btn-text-hover;
  margin: 30px 0px 35px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  border-radius: 10px;

  h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: $btn-border;
    margin-bottom: 25px;
  }
}

.saved-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgb(245, 210, 212, 0.5);
  border-radius: 10px;
  margin-bottom: 35px;

  li p {
    text-align: left;
    font-weight: 400;
    padding: 0;
  }
}

.delete-btn {
  @include delete-button-styles;
  font-size: 18px;
  padding: 5px;
  width: fit-content;
  height: auto;
}

.copy-btn {
  @include blue-button-styles;
  font-size: 18px;
  padding: 5px;
  width: fit-content;
  height: auto;
}

.share-btn {
  @include green-button-styles;
  font-size: 18px;
  padding: 5px;
  width: fit-content;
  height: auto;
}

.buttons-flexbox {
  display: flex;
  justify-content: space-around;
}

.green-btn {
  @include green-button-styles;
  font-size: 30px;
  height: 60px;
  margin-left: 30px;
  min-width: fit-content;

}
// ---------- media queries ---------- //

@media screen and (min-width: 400px){

  .all-lists-wrapper {
    margin-top: 40px;
  }

  .saved-list {
    width: 70vw;

    li p {
      text-align: left;
      font-weight: 400;
      padding: 0;
    }
  }
}

@media screen and (min-width: 720px) {


  .search-and-new-list {
    display: flex;
    flex-direction: row;
  }

  .search-section {
    margin-left: 3%;
    flex-basis: 80vw;
  }

  .new-list-wrapper {
    // below is a bug
    // flex-basis: 50vw;
    // margin-left: 2vw;
    margin-right: 5vw;
  }

  .search-container {
    // border: solid 3px pink;
    max-width: 50vw;
    // possible bug below 
    width: fit-content; 
    width: 95%;
    padding: 0;
  }

  div.item-in-list {
    position: center;
  }

  // .saved-list {
  //   box-sizing: border-box;
  // }

}
