@import "../../styles/variables";
@import "../../styles/mixins";

// ---------- style for lists page -------------- //


.lists-page-container {

  .search-and-new-list {
    display: flex;
    justify-content: space-between;
    // border: solid rgb(96, 138, 218,0.5) 3px;
    padding: 5px;
  }

  .search-section {
    // border: solid rgb(255, 203, 212, 0.3) 3px;
    margin-right: 10px;
    padding: 10px;
    flex-basis: 60vw;
    // flex-grow: 3;
  }

  .new-list-wrapper {
    border: solid $green-hover 3px;
    border-radius: 10px;
    background-color: $green-hover;
    flex-basis: 40vw;
    padding: 10px;
    margin-right: 5px;
    // flex-grow: 2;
  }

  .save-btn {
    @include button-styles;
    width: 65px;
    height: 40px;
    margin-top: 30px;
    font-size: 18px;
  }

  .description {

    p {
      font-size: 18px;
      text-align: left;
      margin-bottom: 15px;
      font-weight: 400;
    }
  }


  p.co2-desc {
    color: $btn-border;
    font-weight: 400;
    span {
      font-weight: 600;
    }
  }

  .item-in-list {
    padding: 10px;
    margin-bottom: 25px;
    border: solid 2.5px rgba(221, 248, 186, 1);
    background: rgba(221, 248, 186, 0.5);
    border-radius: 10px;
  }

  .replace-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .btn-replace {
    @include blue-button-styles;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    border: solid 2.5px rgb(58, 98, 192);
    height: 32px;
    font-size: 16px;
    border-radius: 5px;
  }
  

}
