.btn-wrapper {
  margin-top: 35px;
}

.home-btn {
  width: 270px;
  height: 55px;
  border: solid 4px #B16E72;
  border-radius: 15px;
  background-color: #E08E93;
  color: #FFE2E4;
  font-family: "Fredoka One";
  font-size: 30px;
}