@import "../../styles/variables";
@import "../../styles/mixins";

// -------------------------- Home page styles ------------------------------- //

.btn-wrapper {
  margin-top: 35px;
}

.home-btn {
  @include button-styles;
  width: 270px;
  height: 55px;
  font-size: 30px;
}

form {
  height: 60px;
}