@import "../styles/variables";
@import "../styles/mixins";


// ----------------- styles for login page ------------ //

h1.login {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
}

.login-form {
  height: 250px;
  padding: 25px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 6px $green-hover;
  background-color: rgba(221,248,186,0.7);
  border-radius: 10px;
  width: fit-content;
}


input.login-inputs {
  border: solid 3px $primary-green;
  border-radius: 10px;
  height: 40px;
  color: $btn-border;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  width: 80%;
  margin-left: 10px;

  &:active, &:focus {
    background-color: $btn-text;
  }

  &::placeholder {
    color: rgb(79,171,116, 0.7);
    padding-left: 7px;
  }
}


.login-btn {
  @include button-styles;
  @include all-buttons;
  width: 100px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 0;
}

.email-input, .password-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
  margin-right: 5%;
  max-width: 90%;

  i {
    font-size: 30px;
    padding: 2px;
  }
}

.login-section {
  height: 76vh;
}

