@import "../styles/variables";
@import "../styles/mixins";


// ----------------- styles for login page ------------ //

h1.login {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.login-form {
  height: 250px;
  padding: 25px 15px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 6px $green-hover;
  background-color: rgba(221,248,186,0.7);
  border-radius: 10px;
}

label {
  font-size: 20px;
}

input.login-inputs {
  border: solid 3px $primary-green;
  border-radius: 10px;
  height: 40px;
  color: $btn-border;
  font-family: "Rubik", sans-serif;
  font-size: 20px;

  &:active, &:focus {
    background-color: $btn-text;
  }

}

input#email {
  margin-left: 60px;
  margin-bottom: 15px;
}


input#password {
  margin-left: 20px;
  margin-bottom: 20px;
}

.login-btn {
  @include button-styles;
  width: 100px;
  height: 60px;
  font-size: 25px;
  margin-bottom: 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: left;
}

