@import "../styles/variables";
@import "../styles/mixins";


// ----------------- styles for login page ------------ //

h1.login {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.login-form {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
}

label {
  font-size: 20px;
}

input {
  border: solid 3px $primary-green;
  border-radius: 10px;
  height: 40px;
}

input#email {
  margin-left: 60px;
  margin-bottom: 15px;
}


input#password {
  margin-left: 20px;
}