@import "../styles/variables";

// -------------------------- Navigation bar styles ------------------------------- //

.nav-container {
  background: $primary-white;
  transition: background 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 90px;
  width: 100vw;
  margin: 0 auto;
  padding: 5px 20px 5px 20px;
  overflow: hidden;
  z-index: 999;

  li {
    margin-top: 20px;
  }
}

.nav-container.active {
  background-color: $primary-green;
  transition: background-color 0.4s;

  .logo, li {
    color: $primary-white;
    transition: color 0.4s;
  }

  li:hover {
    color: $green-hover;
  }

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GG-logo-small {
  width: 100px;
  height: auto;
  position: relative;
  top: 5px;
  margin-left: 10px;
  padding: 2px;
  overflow: hidden;
}

.GG-logo-large {
  width: 220px;
  height: auto;
  position: relative;
  top: 4px;
  margin-left: 10px;
  padding: 5px;
  overflow: hidden;
}

div.logo {
  overflow: hidden;
}

.logo-link {
  text-decoration: none;
}

/* desktop menu */
.desktop-menu {
  display: none;
}

/* ---------------------- Media queries -------------------------- */

// tablet/desktop
@media screen and (min-width: $breakpoint-D) {


  .desktop-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;

    #{&}-item {
      margin-left: 30px;
      font-family: "Fredoka One";
      text-decoration: none;
      color: $primary-green;
      transition: color 0.4s;
      font-size: 1.5em;

        &:hover {
          color: $pink-hover;
        }
      }
    }
    
  }

