@import "../../styles/variables";
@import "../../styles/mixins";


// ----------------- styles for social feed ------------ //

.social-section {
  color: $primary-green;
  position: relative;
  margin-bottom: 100px;
  padding-top: 20px;

  h1.social-title {
    color: $primary-white;
    position: relative;
    font-size: 38px;
    margin: 0 20px 0 20px;
  }

  .social-icon {
    width: 60px;
    height: auto;
    z-index: 20;
    opacity: 0.85;
    margin-top: 150px; 
    padding-bottom: 3px;
    position: relative;
    top: 10px;
  }
}

.posts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
  // align-content: flex-start;
  overflow: show;
  height: fit-content;
  margin-top: 140px;
}

.title-icon {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  overflow-y: hidden;
}

@media screen and (min-width: $breakpoint-I) {

  .posts-wrapper {
    margin-top: 190px;
  }

  .title-icon {
    margin-top: 100px;
  }

}