@import "../../styles/variables";
@import "../../styles/mixins";

// -------------------------- Stats page styles ------------------------------- //


.stats-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.graph-container {
    width: 80vw;
    align-self: center;
    margin-bottom: 90px;
}

.stats-btn {
    @include blue-button-styles;
    @include all-buttons;
    width: 200px;
    font-size: 30px;
    align-self: center;
    margin: 10px 10px 50px 10px;
}

// .earth-canvas-container {
//     width: 90vw
//     // border: solid pink 3px;
// }

// @media screen 