@import "../../styles/variables";
@import "../../styles/mixins";

// -------------------------- Stats page styles ------------------------------- //


.stats-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.graph-container {
    width: 80vw;
    align-self: center;
    margin-bottom: 90px;
}

.stats-btn, .fullscreen-btn {
    @include all-buttons;
    width: 200px;
    font-size: 30px;
    align-self: center;
    margin: 10px 10px 50px 10px;
}

.stats-btn-pink {
    @include button-styles;
}

.stats-btn-blue {
    @include blue-button-styles;
}

.fullscreen-btn {
    @include home-button-styles;
    align-self: flex-start;
    margin-top: 40px;
}

.globe-products-container {
    border: solid red 3px;
    display: flex;
    flex-direction: column;
    padding: 30px;
   justify-content: flex-start;
   max-width: 30%;

    h5 {
        font-family: 'Rubik', open-sans;
        font-weight: 500;
        font-size: 20px;
    }

    h3 {
        font-size: 25px;
    }
}