@import "../../styles/variables";
@import "../../styles/mixins";

// -------------------------- Stats page styles ------------------------------- //


.stats-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.graph-container {
    width: 80vw;
    align-self: center;
    margin-bottom: 90px;
}

.stats-btn, .fullscreen-btn {
    @include all-buttons;
    width: 200px;
    font-size: 30px;
    align-self: center;
    margin: 10px 10px 50px 10px;
}

.stats-btn-pink {
    @include button-styles;
}

.stats-btn-blue {
    @include blue-button-styles;
}

.fullscreen-btn {
    @include green-button-styles;
}