// import variables partial
@import "./styles/variables";

// -------------------------- Global styles ------------------------------- //

* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka One", cursive;
}

li {
  list-style-type: none;
}

.green {
  background: $primary-green;
  color: $primary-white;
}

.white {
  background: $primary-white;
  color: $primary-green;
}
