// import variables partial
@import "./styles/variables";

// -------------------------- Global styles ------------------------------- //

* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka One", cursive;
}

li {
  list-style-type: none;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}
// styles below need to be moved into another stylesheet

h1 {
  font-size: 1.7em;
  margin-top: 3em;
  margin-bottom: 1.2em;
  letter-spacing: 1px;
}

p {
  font-size: 1.5em;
}

.planet img {
  opacity: 0.9;
  z-index: 1;
  max-width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search {
  z-index: 1;
  position: relative;
  top: 100px;
}

.nav-scroll {
  color: $primary-white;
  background-color: $primary-green;
}