@import "../../../styles/variables";
@import "../../../styles/mixins";


// ----------------- styles for search bar ------------ //

.search-container {
  border: solid pink 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 0 20px;
  border-bottom: solid 3px rgb(141, 212, 162, 0.7);
}


.search-container h2 {
  margin-top: 30px;
  font-size: 30px;
  max-width: 70vw;
  text-align: center;
  opacity: 0.9;
}

form.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0 30px 0;
  height: 150px;
  width: 100%; 

  ::placeholder {
    color: $blue-btn-text;
    opacity: 0.8;
    font-size: 20px;
    padding-left: 17px;
  }
}

.search-form input {
  border: solid $blue-btn-border 4px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: $blue-btn-background;
  font-family: "Rubik", sans-serif;
  height: 150px;
  color: $blue-btn-text;
  font-size: 20px;
  padding-left: 10px;

  &:active, &:hover {
    background: $blue-btn-background-active;
  }
}

.search-button {
  @include button-styles;
  height: 120px;
  width: 130px;
  font-size: 25px;
  align-self: center;
}






/* ---------------------- BREAKPOINTS & MEDIA QUERIES -------------------------- */


@media screen and (min-width: 700px) {

  form.search-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ::placeholder {
      font-size: 25px;
      padding-left: 10px;
    }
  }
  
  .search-form input {
    margin: 30px 0 10px 0;
    height: 70px;
    width: 300px;
    font-size: 30px;
  }

  .search-button {
    height: 60px;
    width: 130px;
    font-size: 25px;
  } 

}


@media screen and (max-width: 360px) {

  .search-form input {
    width: 60vw;
    font-size: 18px;
    padding-left: 5px;

  }

  form.search-form {
  
    ::placeholder {
      font-size: 18px;
      padding-left: 5px;
    }
  }
}
  

  @media screen and (max-width: 550px) {


  }